@tailwind base;
@tailwind components;
@tailwind variants;

@layer components {
    .timeline-date {
        color: white;
        font-size: 1.1em !important;
        opacity: 1 !important;

        @screen md {
            padding: 0.5em 0.5em 0 0.5em !important;
        }
    }
}
