.contact-button {
  display: flex;

  &:hover,
  &:focus-visible {
    transition: all 0.2s linear;
    transform: scale(1.25);
    color: theme('colors.main-green');
  }
}

.mobile-menu-hidden {
  height: 0;
  visibility: hidden;
}

.mobile-menu-open {
  height: 130px;
  visibility: visible;
}
